@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-10"> Welcome to ShopeBridge One stop destination for all your car accessories</h3>
    <img src="~/lib/Images/HomeImage.jpg" style="margin:auto; width:200px;display:block" />

</div>
